*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
*.iml
derby.log

**/target
/advanced/front-end/react/welcome/build/
/advanced/front-end/react/welcome/node_modules/
/advanced/front-end/react/welcome/public/
/advanced/front-end/react/welcome/node/
~$*
