spring:
  application:
    name: auth-service
  session:
    store-type: redis
  redis:
    host: redis
    port: 6379
  rabbitmq:
    host: rabbitmq
  datasource:
    url: "jdbc:postgresql://postgres-auth:5432/postgres"
    username: "postgres"
    password: ""
    driver-class-name: "org.postgresql.Driver"
  jpa:
    database: "postgresql"
    hibernate:
      ddl-auto: validate


