.card{
    width: 200px;
    height: 300px;
    background-color: lightslategray;
    margin: 2rem;
    padding: 1rem;
    /* border: 2px solid black; */
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image{
    width: 150px;

}

.disabled{
    opacity: 0.2;
}

.card-label{
    font-weight: bolder;
    text-align: center;
}
.BRONZE{
    border: 10px solid #804a00;
}

.SILVER{border: 10px solid silver;}

.GOLD{
    border: 10px solid gold;
}

.PINK_DIAMOND{
    border: 10px solid pink;
}