.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-content: space-between; */
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.header-logo{
align-self: flex-end;
font-family: "Lucida Console", Courier, monospace;
padding: 0 2rem; 
position: relative;
}

.header-logo h1{
    color: crimson;
    font-size: 6rem;
    font-weight: bolder;
}

.header-logo span{
    color: black;
    background-color: lightgray;
    opacity: 0.9;
    transform: rotate(15deg);
    position: absolute;
    top: 30px;
    right: 0;
}

.header-logo:hover{
    color: black;
}

.header-text{
    align-self: center;
    font-size: 2.5rem;
    margin: 0;
    min-width: 20%;
}

.header-link{
    font-size: 2rem;
    color: black;
    text-decoration: underline;
    margin-right: 2rem;
}

.header-link:hover{
    text-decoration: underline;
    color: crimson;
}

.header-link-logout{
    margin-right: 2rem;
    background-color: transparent;
    border: none;
}