.center{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.big-text{
    font-weight: bolder;
}

.button{
    background-color: #cad2de;
    font-weight: bold;
    margin: 1rem;
}