<configuration>


    <appender name="REGULAR_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="warn">
        <appender-ref ref="REGULAR_STDOUT" />
    </root>

    <logger name="org.tsdes" level="INFO" />

    <!-- Here we isolate a specific logger for debug -->
    <logger name="org.tsdes.intro.spring.logging.ServiceY" level="DEBUG" />


    <!-- Can have more than one appender -->
    <appender name="SPRING" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[SPRING] %-5level -  %msg%n</pattern>
        </encoder>
    </appender>

    <!--
        Here, we want all loggers from Spring to use a different appender,
        and NOT inherit any parent configuration (eg the appender in the root).
        Note that a log could be sent to many different appenders at the same time
      -->
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="SPRING" />
    </logger>

</configuration>