spring:
  application:
    name: MyService
  datasource:
    url: "jdbc:postgresql://postgres:5432/postgres"
    username: "postgres"
    password: ""
    driver-class-name: "org.postgresql.Driver"
  jpa:
    database: "postgresql"
    hibernate:
      ddl-auto: "update"

